<!DOCTYPE html>
<html> 
  <head>
    <!-- **************** -->
    <!--      SCRIPTS     -->
    <!-- **************** -->
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../../css/boxes.css">
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-tooltip-and-popover.css">
    <link rel="stylesheet" type="text/css" href="../../../css/comingsoon.css">
    <link rel="stylesheet" type="text/css" href="../../../css/donate.css">
    <link rel="stylesheet" type="text/css" href="../../../css/editor.css">
    <link rel="stylesheet" type="text/css" href="../../../css/feedback.css">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
    <link rel="stylesheet" type="text/css" href="../../../css/modal.css">
    <!-- CSS: SKULPT -->
    <link rel="stylesheet" type="text/css" media="all" href="../../../css/skulpt/codemirror.css">
    <link rel="stylesheet" type="text/css" media="all" href="../../../css/skulpt/solarized.css">
    <link rel="stylesheet" type="text/css" media="all" href="../../../css/skulpt/skulpt_main.css">
    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" ></script> 
    <script type="text/javascript" src="http://www.skulpt.org/static/skulpt.min.js"></script>
    <script type="text/javascript" src="http://www.skulpt.org/static/skulpt-stdlib.js"></script>
    <script type="text/javascript" src='../../../js/console.js'></script>
    <script type="text/javascript" src="../../../js/bootstrap-tooltip-and-popover.min.js"></script>
    <!-- JAVASCRIPT: POPOVERS -->
    <script type="text/javascript">
      $(document).ready(function() {
        // Placement can be top, right, left, bottom
        $('.bootstrap-popover').popover({placement: 'top', delay: {show: 10, hide: 10}});
      })
    </script>
    <!-- JAVASCRIPT: GOOGLE ANALYTICS -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-85355151-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- JAVASCRIPT: SKULPT SHELL -->
    <script type="text/javascript" src="../../../js/skulpt/codemirrorepl.js.download"></script>
    <script type="text/javascript" src="../../../js/skulpt/repl.js.download"></script>
    <script type="text/javascript" src="../../../js/skulpt/python.js.download"></script>
    <script type="text/javascript" src="../../../js/skulpt/skulpt.min.js.download"></script>
    <script type="text/javascript" src="../../../js/skulpt/skulpt-stdlib.js.download" ></script>
  </head> 

  <div class="headerbar">
      <!-- **************** -->
      <!--      HEADER      -->
      <!-- **************** -->
      <div onclick="window.scrollTo(0, 0);" class="headerspacingleftedge">
      </div>
      <div class="headerlogo">
        <a href="../../index.html"><h2>pythons and ladders</h2>
        </a>
      </div>
      <div onclick="window.scrollTo(0, 0);" class="headerspacingmiddle">
        <div class="headersocialmedia">
          <img src="../../../images/facebook_icon.png" class="socialmediabuttons" />
          <img src="../../../images/twitter_icon.png" class="socialmediabuttons" />
        </div>
      </div>
      <div class="headersearch">
          <!-- SEARCH BOX -->
          <form method="get" action="http://www.google.com/search">
            <div class="searchbox">
              <input class="searchbox"type="text" name="q" size="32" maxlength="255" value="Search Pythons and Ladders" onfocus="if(this.value==this.defaultValue)this.value=''; this.style.color='#bbb';" onblur="if(this.value=='')this.value=this.defaultValue; "/>
              <input class="gobutton" type="image" src="../../../images/search.png" value="Go!" />
              <input type="hidden" name="sitesearch" value="pythonsandladders.com" />
            </div>
          </form>
        </div>
      <div onclick="window.scrollTo(0, 0);" class="headerspacingrightedge">
      </div>
    </div>

  <body>
    <div class="allpanes">