 
    <!-- **************** -->
    <!--    NAVIGATION    -->
    <!-- **************** -->
    <div class="sidenav">
      <div class="headerspacingleft">
      </div>
      <div class="sidenavlogo">
        <a href="index.html">
          <img src="./images/headingtitle.png" alt="Pythons and Ladders" style="width: 75%; height: 18%;" onmouseover="this.src='./images/headingtitle_snake.png'" onmouseout="this.src='./images/headingtitle.png'">
        </a>
      </div>
      <div class="sidenavcontentemptytop">
      </div>
      <div class="sidenavcontentmiddle">
        <a href="index.html">home</a>
        <a href="overview.html">overview</a>
        <a href="./main/updates/pages/updates_0.html">updates</a>
        <a href="faq.html">questions</a>
        <!-- <a href="#openModal">contribute</a>
        <div id="openModal" class="modalDialog">
          <div>
            <a href="#close" title="Close" class="close">X</a>
                <h2>Contribute to Pythons and Ladders</h2>
              <p>Pythons and Ladders is free to use, and we intend for it to remain so.</p>
              </p>However, if you feel that Pythons and Ladders has added value to your life in any meaningful way, please consider contributing to its continued development and presence on the web.</p>
              <p>With your support, we hope to initiate many more students into the world of programming, many of whom cannot afford to pay for a learning experience.</p>
              <p>Thank you for your kindness.</p>
              <a href="#"><div class="donatenowbutton" alt="Donate Now">DONATE NOW</div></a>
          </div>
        </div> -->

        <a href="mailto:pythonsandladders@gmail.com?subject=Attn: [ADMIN] Pythons and Ladders">contact us</a>
      </div>
      <div class="sidenavcontentemptybottom">
      </div>
      <!-- FOOTER -->
      <div class="footer"><p>Copyright &copy; Pythons and Ladders 2016</p>
      </div>
    </div>