@import url('https://fonts.googleapis.com/css?family=Antic');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Droid Serif');
@import url('https://fonts.googleapis.com/css?family=Exo 2');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

:root {

/*-------------------
  ANIMATION VARIABLES 
--------------------*/
--animation-transition-std:             0.25s;
--animation-transition-long:            1s;
--animation-rotation-Z:                 rotateZ(360deg);

/*----------------
  COLOUR VARIABLES 
-----------------*/
--colour-blue1: #161a1d;
--colour-blue2: #1e2429;
--colour-blue3: #282f35;
--colour-blue4: #323b43;

--colour-gold1: #c59a6d;

--colour-grey-pane: #e7e8e9;
--colour-grey-text: #696e71;

--colour-red1:                   #7a0026;
--colour-red2:                   #9f0026;

--colour-white1:                #fcfcfc;


--padding-left-1280PLUS:        4vw;
--padding-left-1280PLUS-small:  1.5vw;
--padding-left-1280MINUS:       4vw;

--left-pane-split: 65%;
--right-pane-split: 35%;


/*----------------
  SHADOW VARIABLES 
-----------------*/
  --shadow-small:                         0 1px 5px 0 rgba(0,0,0,0.24), 0 1px 5px 0 rgba(0,0,0,0.19);
/*---------------
  SHAPE VARIABLES 
----------------*/
  --shape-rounded-corners:                5px;
  --shape-circle-corners:                 50%;

  --tut-circle-diameter:                  48px;
}

.none {
  display: none;
}

textarea,
pre {
    -moz-tab-size : 4;
      -o-tab-size : 4;
         tab-size : 4;
  display: table;
  table-layout:fixed;
  width: 100%;
}
body {
    background-color: var(--colour-blue2);
    margin: 0;
    padding: 0;
    height: 100%;
}

button {
  background-color:     var(--colour-blue4);
  border:               none;
  color:                var(--colour-grey-pane);
  padding:              10px 15px;
  border-radius:        var(--shape-rounded-corners);
  margin-right:         var(--shape-rounded-corners);
  margin-top:           5px;
  font-size:            80%;
}
button.start {
  background-color:     var(--colour-red1);
}
button:hover, button:active {
  background-color:     var(--colour-blue3);
  box-shadow:           var(--shadow-small);
  cursor:               pointer;
}
button.start:hover, button.start:active{
  background-color:     var(--colour-red1);
}
button.clear {
  width:                156px;
  height:               47px;
  margin-right:         10px;
  margin-top:           7px;
  padding:              0;
  border:               2px solid #bbb;
  background:           none;
  float:                left;
  font-size:            75%;
  font-weight:          100;
  font-family:          "Exo 2";
  color:                var(--colour-grey-pane);
  text-align:           center;
  vertical-align:       middle;
  border-radius:        var(--shape-rounded-corners);
  transition-duration:  var(--animation-transition-std);
}
button.clear:hover, button.clear:active {
  background-color:     rgba(0,0,0,0.6);
}
button.red {
  width:                156px;
  height:               48px;
  margin-right:         10px;
  margin-top:           7px;
  padding:              0;
  border:               2px solid var(--colour-red1);
  background-color:     var(--colour-red1);
  float:                left;
  font-size:            75%;
  font-weight:          100;
  font-family:          "Exo 2";
  color:                var(--colour-grey-pane);
  text-align:           center;
  vertical-align:       middle;
  border-radius:        var(--shape-rounded-corners);
  transition-duration:  var(--animation-transition-std);
}
button.red:hover, button.red:active {
  background-color:     var(--colour-red2);
  border:               2px solid var(--colour-red2);
  box-shadow:           var(--shadow-small);
}

.fullwidth {
  font-size: 120%;
  font-weight: lighter;
  color: var(--colour-grey-pane);
  width: 100%;
  display: inline-block;
  padding: 0;
  margin-top: -20px;
}
.puzzlenav2 {
    width: 100%;
    background-color: none;
    margin-left: -5px;
    display: table-cell;
}
.box-puzz2 {
  margin-top:           16px;
  margin-right:         11px;
  font-family:          "Antic", sans-serif;
  font-size:            140%;
  float:                left;
  text-align:           center;
  vertical-align:       middle;
  line-height:          48px;
  color:                var(--colour-text-grey);
}
.box-puzzle-number2 {
  margin:               0 auto;
  width:                150px;
  height:               48px;
  border:               1px solid var(--colour-absolute-white);
  border-radius:        var(--shape-rounded-corners);
  transition-duration:  var(--animation-transition-std);
  background-color:     rgba(0,0,0,0.6);
  color:                var(--colour-absolute-white);
}
.box-puzzle-arrows2 {
  margin:               0 auto;
  width:                48px;
  height:               48px;
  border:               1px solid var(--colour-absolute-white);
  border-radius:        var(--shape-rounded-corners);
  transition-duration:  var(--animation-transition-std);
  background-color:     rgba(0,0,0,0.7);
  color:                var(--colour-absolute-white);
}
header {
    background-color: var(--colour-blue1);
    position: fixed;
    z-index: 12;
    width: 100%;
    max-width: 100%;
    height: 48px;
    line-height: 48px;
    margin: 0 auto;
    font-family: 'Antic', sans-serif;
    font-size: 110%;
    font-weight: bolder;
    color: var(--colour-gold1);
    padding-left: calc(17vw + var(--padding-left-1280PLUS));
    
    /* These four lines ensure it's centered in the middle */
    left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}

#wrapper {
    min-height:100%;
    position:relative;
}
.allpanes_new {
    background-color: var(--colour-white1);
    width: 100%;
    max-width: 100%;
    border: 0px solid white;
    margin: 0 auto;
    border-top: 48px solid var(--colour-blue2);
    padding-bottom: 50px; /* Height of the footer element */
    overflow: hidden;
    display: table;
}

.sidenavpane {
  display: table-cell;
  width:                  215px;
  font-size:              90%;
  height:                 445px;
  background-color: var(--colour-blue1);
  text-align:             center;
  box-shadow:             var(--shadow-small);
  vertical-align: top;
  transition:             all var(--animation-transition-std) ease-in-out;
  -webkit-transition:     all var(--animation-transition-std) ease-in-out;
  -moz-transition:        all var(--animation-transition-std) ease-in-out;
  -ms-transition:         all var(--animation-transition-std) ease-in-out;
  -o-transition:          all ease-in-out;    
    z-index: 20;    
}
.sidenavpane a {
  display:                block;
  font-family:            Arial, sans-serif;
  text-transform:         uppercase;
  font-weight:            100;
  font-size:              112%;
  line-height:            320%;
  color:                  var(--colour-off-white);
  transition:             var(--animation-transition-std);
}

.sidenavpane a:hover, .offcanvas a:focus{
    color: #c59a6d;
}

.sidenavlogo img {
  margin-top: 10px;
}

.bannerpane-home {
    width: 100%;
    max-width: 100%;
    border: 0px solid red;
    margin: 0 auto;
    float: left;
    padding-left: var(--padding-left-1280PLUS);
    font-family: 'Exo 2', sans-serif;
    color: white;
    height: 315px;
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
        repeating-linear-gradient(
            50deg,
            #1e2429,
            #1e2429 2em,
            #323b43 2em,
            #323b43 4em,
            #7a0026 4em,
            #7a0026 6em,
            #c59a6d 6em,
            #1e2429 8em,
            #696e71 8em,
            #696e71 10em,
            #e7e8e9 10em,
            #e7e8e9 6em
        ),
        repeating-linear-gradient(
            -50deg,
            #1e2429,
            #1e2429 2em,
            #323b43 2em,
            #323b43 4em,
            #7a0026 4em,
            #7a0026 6em,
            #c59a6d 6em,
            #1e2429 8em,
            #696e71 8em,
            #696e71 10em,
            #e7e8e9 10em,
            #e7e8e9 6em
        );
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    font-size: 230%;
}
.bannerpane {
    width: 100%;
    max-width: 100%;
    border: 0px solid red;
    margin: 0 auto;
    float: left;
    padding-left: var(--padding-left-1280PLUS);
    font-family: 'Exo 2', sans-serif;
    color: white;
    height: 85px;
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.15), 
          rgba(0, 0, 0, 0.15)
        ),
        repeating-linear-gradient(
            50deg,
            #1e2429,
            #1e2429 2em,
            #323b43 2em,
            #323b43 4em,
            #7a0026 4em,
            #7a0026 6em,
            #c59a6d 6em,
            #c59a6d 8em,
            #696e71 8em,
            #696e71 10em,
            #e7e8e9 10em,
            #e7e8e9 6em
        ),
        repeating-linear-gradient(
            -50deg,
            #1e2429,
            #1e2429 2em,
            #323b43 2em,
            #323b43 4em,
            #7a0026 4em,
            #7a0026 6em,
            #c59a6d 6em,
            #c59a6d 8em,
            #696e71 8em,
            #696e71 10em,
            #e7e8e9 10em,
            #e7e8e9 6em
        );
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    font-size: 70.3%;
}
.bannerpanewarped {
    width: 100%;
    max-width: 100%;
    border: 0px solid red;
    margin: 0 auto;
    float: left;
    padding-left: var(--padding-left-1280PLUS);
    font-family: 'Exo 2', sans-serif;
    color: white;
    height: 85px;
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.15), 
          rgba(0, 0, 0, 0.15)
        ),
        repeating-linear-gradient(
            50deg,
            darkslategrey,
            darkslategrey 2em,
            lightslategrey 2em,
            lightslategrey 4em,
            dimgrey 4em,
            dimgrey 6em,
            darkred 6em,
            darkred 8em,
            silver 8em,
            silver 10em,
            dimgrey 10em,
            dimgrey 6em
        ),
        repeating-linear-gradient(
            -50deg,
            darkslategrey,
            darkslategrey 2em,
            lightslategrey 2em,
            lightslategrey 4em,
            dimgrey 4em,
            dimgrey 6em,
            darkred 6em,
            darkred 8em,
            silver 8em,
            silver 10em,
            dimgrey 10em,
            dimgrey 6em
        );
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    font-size: 70.3%;
}
.banneritems-home {
    width: 100%;
    max-width: 443px;
    color: #ccc;
    position: relative;
    z-index: 2;
    font-size: 50%;
}
.banneritems {
    width: 100%;
    max-width: 443px;
    color: #ccc;
    position: relative;
    z-index: 2;
}
h2.bannertitle-home {
  color:                    #ccc;
  margin-top:               22px;
  margin-bottom:            -5px;
  font-size:                120%;
  font-variant:             small-caps;
  font-family:              "Exo 2";
}
h2.bannertitle {
  color:                    #ccc;
  margin-bottom:            -5px;
  font-size:                230%;
  font-variant:             small-caps;
  font-family:              "Exo 2";
}
p.bannertext-home {
    font-family: "Exo 2";
    font-weight: 100;
    font-size: 80%;
}
.leftpane-home {
    background: none;
    width: calc(var(--left-pane-split) - var(--padding-left-1280PLUS));
    max-width: 1280px;
    border: 0px solid blue;
    float: left;
    padding-left: var(--padding-left-1280PLUS);
    padding-bottom: var(--padding-left-1280PLUS);
}
.leftpane {
    background: none;
    width: calc(var(--left-pane-split) - var(--padding-left-1280PLUS));
    border: 0px solid blue;
    float: left;
    padding-left: var(--padding-left-1280PLUS);
    padding-bottom: var(--padding-left-1280PLUS);
    margin-top: 1vw;
    padding-bottom: calc(2 * var(--padding-left-1280PLUS));
    font-family: 'Roboto', sans-serif;
}
.leftpane a {
  border-bottom: 1px dotted;
}
.rightpane a {
  border-bottom: 1px dotted;
}
.leftpaneinner {
    width: calc(100% - 3vw);
}
.gameboard {
    background: var(--colour-off-white);;
    width: calc(100% - var(--padding-left-1280PLUS-small) - var(--padding-left-1280PLUS-small));
    box-shadow: var(--shadow-small);
    font-size: 85%;
    z-index: 2;
    float: left;
    text-align:left;
    display: table;
    padding: 1.5vw;
    position: relative;
    border-radius: 5px;
    margin-top: -125px;
}
.box {
  font-family:          var(--font-style-antic);
  font-size:            var(--grid-box-font-size-std);
  float:                left;
  text-align:           center;
  vertical-align:       middle;
  color:                var(--colour-text-grey);
  background:           var(--colour-off-white);
  width:                10%;
}
.box-grid-home {
  margin:               0.4vw;
  width:                3.3vw;
  min-width:            3.3vw;
  height:               3.3vw;
  min-height:           3.3vw;
  line-height:          3.1vw;
  border:               2px solid #777;
  border-radius:        var(--shape-rounded-corners);
  transition-duration:  var(--animation-transition-std);
}
.box-grid-home:hover, .box-grid-home:active {
  border:               var(--grid-box-border) solid var(--colour-orange);
  background:           var(--colour-orange) ;
  color:                var(--colour-absolute-white);
}
.box-grid-home-start {
  margin:               0.4vw;
  width:                3.3vw;
  min-width:            3.3vw;
  height:               3.3vw;
  min-height:           3.3vw;
  line-height:          3.1vw;
  border:               var(--grid-box-border) solid var(--colour-orange);
  border-radius:        var(--shape-rounded-corners);
  transition-duration:  var(--animation-transition-long);
  /* --- */
  background-color:     var(--colour-orange);
  color:                var(--colour-absolute-white);
  box-shadow:           var(--shadow-small);
}
.box-grid-home-start:hover, .box-grid-home-start:active{
  -webkit-transform:    var(--animation-rotation-Z);
  transform:            var(--animation-rotation-Z);
  border-radius:        var(--shape-circle-corners);
  background-color:     var(--colour-lighter-orange);
}
.minigameboard-home {
  background: var(--colour-off-white);
  width: 100%;
  box-shadow: none;
  z-index: 2;
  display: table;
  border-radius: 5px;
  padding-bottom: 0;
}
.minigameboard {
  background: var(--colour-absolute-white);
  width: 100%;
  box-shadow: none;
  z-index: 2;
  display: table;
  border-radius: 5px;
  padding-top: 0px;
  margin-bottom: 100px;
}
.minigameboard-home-row{
  background-color: var(--colour-grey-pane);
  color: var(--colour-blue4);
  box-shadow: var(--shadow-small);
  font-family: 'Exo 2';
  text-align: center;
  cursor: pointer;
  display: block;
  margin-bottom:        3vw;
  width:                100%;
  min-height:           48px;
  line-height:          48px;
  border:               0px solid var(--colour-white1);
  border-radius:        var(--shape-rounded-corners);
  transition-duration:  var(--animation-transition-std);
}
.minigameboard-row{
  background-color: var(--colour-grey-pane);
  color: var(--colour-blue4);
  box-shadow: var(--shadow-small);
  font-family: 'Exo 2';
  text-align: center;
  cursor: pointer;
  display: block;
  margin-top:           0.7em;
  margin-bottom:        0.1em;
  width:                100%;
  min-height:           48px;
  line-height:          48px;
  border:               0px solid var(--colour-white1);
  border-radius:        var(--shape-rounded-corners);
  transition-duration:  var(--animation-transition-std);
}
.minigameboard-home-row + input{
  display: none; /* Hide the checkboxes */
}
.minigameboard-row + input{
  display: none; /* Hide the checkboxes */
}
.minigameboard-home-row + input + div{
  display:none;
}
.minigameboard-row + input + div{
  display:none;
}
.minigameboard-home-row + input:checked + div{
  display:block;
}
.minigameboard-row + input:checked + div{
  display:block;
}
.minigameboard-home-box-contain {
  background-color: var(--colour-white1);
  border-radius: 5px;
  width: 100%;
  height: 74vw;
  margin-bottom: 2vw;
  padding: 1vw 0.7vw 3vw 2.5vw;
}
.minigameboard-box-contain {
  background-color: var(--colour-white1);
  border-radius: 5px;
  width: 100%;
  height: 19.4em;
  margin-top: 0.8em;
  margin-bottom: 0;
  padding: 0;
  border: 0px solid green;
}
.minigameboard-home-box-start {
  float: left;
  margin:               1.3vw;
  width:                14vw;
  height:               14vw;
  line-height:          14vw;
  text-align:           center;
  box-shadow:           var(--shadow-small);
  font-family:          "Exo 2";
  color:                var(--colour-white1);
  background-color:     var(--colour-gold1);
  border-radius:        7px;
  transition-duration:  var(--animation-transition-std);
}
.minigameboard-box-start {
  float: left;
  margin:               0.3em;
  width:                4em;
  height:               4em;
  line-height:          4em;
  text-align:           center;
  box-shadow:           var(--shadow-small);
  font-family:          "Exo 2";
  color:                var(--colour-white1);
  background-color:     var(--colour-gold1);
  border-radius:        7px;
  transition-duration:  var(--animation-transition-std);
}
.minigameboard-home-box {
  float: left;
  margin:               1.4vw;
  width:                14vw;
  height:               14vw;
  line-height:          14vw;
  text-align:           center;
  box-shadow: var(--shadow-small);
  font-family:          "Exo 2";
  color:                var(--colour-grey-text);
  background-color:     var(--colour-grey-pane);
  border-radius:        7px;
  transition-duration:  var(--animation-transition-std);
}
.minigameboard-box {
  float: left;
  margin:               0.4em;
  width:                4em;
  height:               4em;
  line-height:          4em;
  text-align:           center;
  box-shadow: var(--shadow-small);
  font-family:          "Exo 2";
  color:                var(--colour-grey-text);
  background-color:     var(--colour-grey-pane);
  border-radius:        7px;
  transition-duration:  var(--animation-transition-std);
}
.rightpane-home {
    background: none;
    width: calc(var(--padding-left-1280PLUS) + var(--right-pane-split));
    border: 0px solid green;
    float: left;
    padding-right: var(--padding-left-1280PLUS);
    margin-top: -125px;
    border-radius: 5px;
    padding-bottom: var(--padding-left-1280PLUS);
    font-family: 'Roboto', sans-serif;
}
.rightpane {
    background: none;
    width: calc(var(--padding-left-1280PLUS) + var(--right-pane-split));
    border: 0px solid green;
    float: left;
    padding-right: var(--padding-left-1280PLUS);
    margin-top: 2vw;
    border-radius: 5px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    border: 0px solid blue;
}
.infocard-home {
    background-color: #e7e8e9;
    width: 100%;
    height: calc(49.85vw - 3.2vh);
    max-height: 562px;
    min-height: 562px;
    padding-left: var(--padding-left-1280PLUS-small);
    padding-right: var(--padding-left-1280PLUS-small);
    padding-bottom: 10px;
    float: left;
    text-align:left;
    display: table;
    box-shadow: var(--shadow-small);
    border-radius: 5px;

}
.infocard {
    background-color: #e7e8e9;
    width: 100%;
    padding-left: var(--padding-left-1280PLUS-small);
    padding-right: var(--padding-left-1280PLUS-small);
    padding-bottom: 10px;
    float: left;
    text-align:left;
    display: table;
    box-shadow: var(--shadow-small);
    border-radius: 5px;
    border: 0px solid red;
    line-height: 150%;
}
.questions-small-devices {
  margin-top: 20px;
  margin-bottom: 30px;
}
.questions-large-devices {
}
.footer {
    /* These four lines ensure it's centered in the middle */
    left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    color: #888;
    background: var(--colour-blue1);
    width:100%;
    height: 50px;
    line-height: 50px;
    position:absolute;
    text-align: center;
    bottom:0;
    border: 0px solid red;
    font-size: 80%;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    z-index: 12;
}
.menuicon {
    display:                block;
    float:                  left;
    width:                  calc(var(--padding-left-1280PLUS) + 5px);
    color:                  var(--colour-orange);
    cursor:                 pointer;
}
.menu {
    font-size: 0%;
    opacity: 0;
}
.menu {
  opacity:                1; /* This is MANDATORY */
  width:                  215px;
  font-size:              90%;
  height:                 28.8em;
  position:               absolute;
  background-color:       var(--colour-blue-two);
  left:                   -215px;
  top:                    48px;
  text-align:             center;
  transition:             all var(--animation-transition-std) ease-in-out;
  -webkit-transition:     all var(--animation-transition-std) ease-in-out;
  -moz-transition:        all var(--animation-transition-std) ease-in-out;
  -ms-transition:         all var(--animation-transition-std) ease-in-out;
  -o-transition:          all ease-in-out;    
    z-index: 20;    
}
.menu a {
  display:                block;
  padding:                8px;
  text-decoration:        none;
  font-family:            'Arial', sans-serif;
  font-variant:           small-caps;
  font-weight:            100;
  font-size:              100%;
  line-height:            75%;
  color:                  var(--colour-off-white);
  transition:             var(--animation-transition-std);
}

code {
    font-size: 10.5pt;
    font-family: var(--font-style-mono);
    line-height: 70%;
}
table.codeline {
  width:                    100%;
}
td.demo {
    width: 100%;
    font-size: 10.5pt;
    font-family: var(--font-style-mono);
    padding: 4px 10px 4px 10px;
    background-color: var(--colour-off-white);
    border-radius: 5px;
    vertical-align: middle;
}
table.demo {
    width: 100%;
    font-size: 10.5pt;
    font-family: var(--font-style-mono);
    padding: 0px 0px 3px 10px;
    background-color: var(--colour-off-white);
    border-radius: 5px;
    vertical-align: middle;
}
td.output {
    width: 100%;
    font-size: 10.5pt;
    font-family: var(--font-style-mono);
    padding: 4px 10px 4px 10px;
    border: 1px solid khaki;
    background-color: lemonchiffon;
    border-radius: 5px;
    vertical-align: middle;
}
table.output {
    width: 100%;
    font-size: 10.5pt;
    font-family: var(--font-style-mono);
    padding: 0px 0px 3px 10px;
    border: 1px solid khaki;
    background-color: lemonchiffon;
    border-radius: 5px;
    vertical-align: middle;
}
td.card {
    width: 100%;
    font-size: 10.5pt;
    font-family: var(--font-style-mono);
    background-color: var(--colour-off-white);
    border-radius: 5px;
    vertical-align: middle;
    line-height: 0.7;
    padding-bottom: 15px;
}
table.card {
    width: 100%;
    font-size: 10.5pt;
    font-family: var(--font-style-mono);
    background-color: var(--colour-off-white);
    border-radius: 5px;
    vertical-align: middle;
    line-height: 0.7;
}
p.mathexp {
    font-family: "Droid Serif", serif;
    padding: 3px 1px 3px 10px;
    border: 1px solid var(--colour-highlighter-darkgreen);
    background-color: var(--colour-highlighter-green);
    border-radius: 5px;
    font-size: 90%;
    width: 100%
}
.editor {
    width:                  100%;
}

/*--------------
  Mobile-generic
---------------*/
@media all
and (min-width:                 1px) 
and (max-width:                 1280px) 
{
    header {
        padding: 0 var(--padding-left-1280MINUS);
    }
    .sidenavpane {
        display: none
    }
    .sidenavpane a:hover, .offcanvas a:focus{
        color: #c59a6d;
    }
    .bannerpane-home {
        padding: 0 var(--padding-left-1280MINUS);
    }
    .leftpane-home {
        padding: 0 var(--padding-left-1280MINUS) var(--padding-left-1280PLUS) var(--padding-left-1280MINUS);
    }
    .rightpane-home {
        padding: 0 var(--padding-left-1280PLUS) var(--padding-left-1280PLUS) 0;
    }
    .bannerpane {
        padding: 0 var(--padding-left-1280MINUS) 0 var(--padding-left-1280MINUS);
    }
    .leftpane {
        padding: 0 var(--padding-left-1280MINUS) var(--padding-left-1280PLUS) var(--padding-left-1280MINUS);
    }
    .rightpane {
        padding: 0 var(--padding-left-1280PLUS) var(--padding-left-1280PLUS) 0;
    }

    .infocard-home {
      height: unset;
    }
    .gameboard {
      margin-top: -118px;
      width: 100%;
    }
    .rightpane-home {
      margin-top: -118px;
    }

    .box-grid-home:hover, .box-grid-home:active {
        border:               2px solid var(--colour-text-grey);
        background:           var(--colour-off-white);
        color:                var(--colour-text-grey);
    }
    .box-grid-home-start:hover, .box-grid-home-start:active{
      border-radius:        5px;
      background-color:     var(--colour-gold1);
    }
    button.clear {
      height: 47px;
    }
    button.red {
      height: 48px;
    }
    button.clear:hover, button.clear:active {
      background:     none;
    }
    button.red:hover, button.red:active {
      background-color:     var(--colour-red1);
      border:               2px solid var(--colour-red1);
      box-shadow:           var(--shadow-small);    
    }
    .menuicon {
        font-size:              180%;
        padding-right: 42px;
    }
    #menuToggle:checked ~ .menu {
        position:               absolute;
        left:                   0; 
    }
    #menuToggle {display: none;}
    
    .editortoolbarsave {
      display: none;
    }
}


/*-------------
  1px to 599px
  CASE: PHONES
--------------*/
@media all
and (min-width:                 1px) 
and (max-width:                 666px) 
{
  .bannerpane-home {
    height: calc(262px);
    box-shadow: var(--shadow-small);
  }
  .banneritems-home {
    margin-top: -5px;
    max-width: 100vw;
  }
  .leftpane-home {
    width: 100%;
  }

  .rightpane-home {
   display: none;
  }
  .bannerpane {
    box-shadow: var(--shadow-small);
  }
  .leftpane {
      width: 100%;
      padding-left: 0;
  }
  .gameboard {
    display: none;
  }
  .minigameboard-home {
    background: none;
    box-shadow: none;
    padding: 0vw;
    margin-top: 4vw;
  }
  .minigameboard {
    background: none;
    box-shadow: none;
    padding: 0vw;
    margin-top: 4vw;
  }
  button.clear {
    width: 100%;
  }
  button.red {
    width: 100%;
    margin-bottom: 1vw;
  }
  .rightpane {
      display: none;
  }
  .infocard {
    padding: 0vw;
    background-color: white;
    box-shadow: none;
    line-height: 140%;
    width: 100%;
  }
  .questions-large-devices {
    display: none;
  }
    td.card {
      padding: 12px 4px 12px 10px;
    }
    table.card {
      padding-left: 10px;
    }
    .footer {
      background:
          linear-gradient(
            rgba(0, 0, 0, 0.15), 
            rgba(0, 0, 0, 0.15)
          ),
          repeating-linear-gradient(
              50deg,
              #1e2429,
              #1e2429 2em,
              #323b43 2em,
              #323b43 4em,
              #7a0026 4em,
              #7a0026 6em,
              #c59a6d 6em,
              #c59a6d 8em,
              #696e71 8em,
              #696e71 10em,
              #e7e8e9 10em,
              #e7e8e9 6em
          ),
          repeating-linear-gradient(
              -50deg,
              #1e2429,
              #1e2429 2em,
              #323b43 2em,
              #323b43 4em,
              #7a0026 4em,
              #7a0026 6em,
              #c59a6d 6em,
              #c59a6d 8em,
              #696e71 8em,
              #696e71 10em,
              #e7e8e9 10em,
              #e7e8e9 6em
          );
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      color: #aaa;
      }
}

/*-----------------------
  1px to 319px
  CASE: TINY RESOLUTIONS;
-----------------------*/
@media all
and (min-width:                 1px) 
and (max-width:                 374px) 
{
    td.card {
      padding: 12px 4px 12px 10px;
    }
    table.card {
      padding-left: 10px;
    }
    .footer {
      color: #aaa;
      background:
          linear-gradient(
            rgba(0, 0, 0, 0.15), 
            rgba(0, 0, 0, 0.15)
          ),
          repeating-linear-gradient(
              50deg,
              #1e2429,
              #1e2429 2em,
              #323b43 2em,
              #323b43 4em,
              #7a0026 4em,
              #7a0026 6em,
              #c59a6d 6em,
              #c59a6d 8em,
              #696e71 8em,
              #696e71 10em,
              #e7e8e9 10em,
              #e7e8e9 6em
          ),
          repeating-linear-gradient(
              -50deg,
              #1e2429,
              #1e2429 2em,
              #323b43 2em,
              #323b43 4em,
              #7a0026 4em,
              #7a0026 6em,
              #c59a6d 6em,
              #c59a6d 8em,
              #696e71 8em,
              #696e71 10em,
              #e7e8e9 10em,
              #e7e8e9 6em
          );
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      }
}

/*-------------------
  600px to 1024
  CASE: SMALL TABLETS
  Defininng this scenario to account for box-grid design, which
  changes below this resolution
--------------------*/
@media all
and (min-width:                 667px) 
and (max-width:                 1023px) 
{
    .leftpane-home {
        width: 100%;
    }
    .rightpane-home {
        display: none;
    }
    .leftpane {
        width: 100%;
        padding-left: 0;
    }
    .box-grid-home {
        margin:               0.35vw;
        width:                8vw;
        height:               8vw;
        line-height:          8vw;
        border:               2px solid #777;
    }
    .box-grid-home-start {
        margin:               0.35vw;
        width:                8vw;
        height:               8vw;
        line-height:          8vw;
        border:               2px solid var(--colour-orange);
    }
    .minigameboard-home {
      display: none;
    }

    .rightpane {
        display: none;

    }
    .infocard {
      padding: 1vw 0 1vw 1vw;
      background-color: white;
      box-shadow: none;
      line-height: 140%;
    }
    .questions-large-devices {
      display: none;
    }
    td.card {
      padding: 12px 4px 12px 10px;
    }
    table.card {
      padding-left: 10px;
    }
    .footer {
      color: #aaa;
      background:
          linear-gradient(
            rgba(0, 0, 0, 0.15), 
            rgba(0, 0, 0, 0.15)
          ),
          repeating-linear-gradient(
              50deg,
              #1e2429,
              #1e2429 2em,
              #323b43 2em,
              #323b43 4em,
              #7a0026 4em,
              #7a0026 6em,
              #c59a6d 6em,
              #c59a6d 8em,
              #696e71 8em,
              #696e71 10em,
              #e7e8e9 10em,
              #e7e8e9 6em
          ),
          repeating-linear-gradient(
              -50deg,
              #1e2429,
              #1e2429 2em,
              #323b43 2em,
              #323b43 4em,
              #7a0026 4em,
              #7a0026 6em,
              #c59a6d 6em,
              #c59a6d 8em,
              #696e71 8em,
              #696e71 10em,
              #e7e8e9 10em,
              #e7e8e9 6em
          );
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      }

}
/*----------------------
  1024px to 1280px
  CASE: TABLET LANDSCAPE
----------------------*/
@media all
and (min-width:                 1024px) 
and (max-width:                 1280px) 
{
  .banneritems {
    margin-left : -1vw;
  }
  .leftpane {
    margin-top: 5px;
    margin-bottom: var(--padding-left-1280PLUS);
    padding: 0;
    padding-right: 3vw;
    border: 0px solid red;
  }
  .leftpaneinner {
    width: 100%;
  }
  .infocard-home{
    min-height: unset;
    max-height: unset;
    height: unset;
  }
  .rightpane {
    width: calc(var(--right-pane-split) - 21px);
    margin-right: 0;
    margin-left: 1vw;
    margin-bottom: 30px;
  }
  .infocard {
    margin-bottom: -65px;
  }
  .minigameboard {
    margin-top: -70px;
  }
  .questions-large-devices {
    margin-bottom: 450px;
  }
    .gameboard {
      padding: 12px;
    }
    .box-grid-home {
        margin:               0.35vw;
        width:                4.4vw;
        height:               4.4vw;
        line-height:          4.4vw;
        border:               2px solid #777;
    }
    .box-grid-home-start {
        margin:               0.35vw;
        width:                4.4vw;
        height:               4.4vw;
        line-height:          4.4vw;
        border:               2px solid var(--colour-orange);
    }
    .minigameboard-home {
      display: none;
    }
  .questions-small-devices {
    display: none;
  }
  .minigameboard-box-contain {
    height: 24.5vw;
    margin-top: 0.8em;
    border: 0px solid green;
  }
  .minigameboard-box-start {
    margin:               0.45vw;
    width:                5vw;
    height:               5vw;
    line-height:          5vw;
  }
  .minigameboard-box {
    float: left;
    margin:               0.45vw;
    width:                5vw;
    height:               5vw;
    line-height:          5vw;
  }
}

/*-------
  >1280px
--------*/
@media all
and (min-width:                 1280px)
{
  .allpanes_new {
    width: 100%;
    max-width: 1920px;
  }
.sidenavpane {
  width:                  17%;
  font-size:              100%;
}
.sidenavpane a {
  font-size: 12px;
}
.box-puzzle-number2 {
margin:               0 auto;
margin-left:          0vw;
}
.minigameboard-home {
display: none;
}
.slideoutnav {
display: none;
}
.questions-small-devices {
display: none;
}
.rightpane {
margin-bottom: -30px;
}
.rightpane-home {
    line-height: 1.75vw;
}
  .minigameboard-home {
    display: none;
  }
}

/*-------
  >1921px
--------*/
@media all
and (min-width:                 1921px) 
{
header {
  width: 1920px;
  padding-left: 400px;
}
.footer {
    width:1920px;
}
.gameboard {
  width: 800px;
  padding: 27px;
}
.bannerpane {
  padding-left: 75px;
}
.bannerpane-home {
  padding-left: 75px;
}
.leftpane-home {
    width: 951px;
    max-width: unset;
    padding-left: 77px;
    padding-bottom: 100px;
}
.leftpane {
    width: 951px;
    padding-left: 77px;
    padding-bottom: 150px;
    margin-top: 18px;
}
.rightpane-home {
    margin-right: unset;
    margin-right: 0px;
    width: 575px;
    padding-left: unset;
    padding-right: 28px;
    padding-bottom: unset;
}
.rightpane {
    margin-top: 0px;
    margin-right: 0px;
    width: 575px;
    padding-left: unset;
    padding-right: 28px;
    padding-bottom: unset;
}
.infocard-home {
    width: 100%;
    padding-left: 28px;
    padding-right: 28px;
    max-height: 522px;
    min-height: 522px;
}
.infocard {
    width: 100%;
    padding-left: 28px;
    padding-right: 28px;
    margin-top: 40px;
    margin-right: 0;
    margin-bottom: 15px;
}
.box {
  width:                74px;
}
.box-grid-home {
  margin:               5px;
  width:                65px;
  min-width:            65px;
  height:               65px;
  min-height:           65px;
  line-height:          65px;
}
.box-grid-home-start {
  margin:               5px;
  width:                65px;
  min-width:            65px;
  height:               65px;
  min-height:           65px;
  line-height:          65px;
}
.minigameboard-home {
  display: none;
}
.rightpane-home {
  line-height: 1.5em;
}
}

/*-------
  <320px
--------*/
@media all
and (max-width:                 319px) 
{
  #wrapper {
    display: none;
}



